#wall-container {
  position: relative;
}

#wall-container > #add-post-container {
  position: sticky;
  background-color: white;
  color: var(--accent);
  border: 2px solid var(--accent);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  top: 60px;
  right: 15px;
  margin-top: -25px;
  left: 100%;
  margin-right: 10px;
}

#wall-container > #add-post-container.empty {
  top: -25px;
}

#wall-container > #add-post-container:hover {
  background-color: var(--accent);
  color: white;
}

#wall > div {
  margin-bottom: 40px;
}

#no-posts {
  text-align: center;
  color: gray;
}

#no-posts > span {
  display: block;
}

#filters > .active {
  background-color: var(--accent);
  color: white;
}
