<div id="wall-container">
  <button id="add-post-container" (click)="openModal()" [class.empty]="posts && posts.length === 0">
    &#x2b;
  </button>
  <div *ngIf="posts.length !== 0" id="wall">
    <div *ngFor="let p of posts; let i = index">
      <app-post [post]="p" [currentUser]="currentUser" [deletePost]="deletePost(p, i)"></app-post>
    </div>
  </div>
  <div *ngIf="currentUser && posts.length === 0" id="no-posts">
    <span>{{currentUser.name}} doesn't have posts yet.</span>
    <span>Be the first to publish in this wall!</span>
  </div>
  <div *ngIf="!currentUser">
    Loading...
  </div>
</div>

<div id="modal-bg" *ngIf="showModal"></div>
<div id="modal-container" *ngIf="currentUser && showModal">
  <div id="modal-header">
    <h3>Add Post in {{ currentUser.name + ' ' + currentUser.lastname }} Wall</h3>
    <button (click)="closeModal()">&times;</button>
  </div>
  <div id="modal-content">
    <textarea [(ngModel)]="newPost"></textarea>

    <input #imageinput type="file" accept="image/*" (change)="processImage(imageinput)" />
    <div id="filters">
      <button (click)="selectFilter(0)" [class.active]="selectedFilter===0" class="accent-btn"><i class="fas fa-eye-slash"></i></button>
      <button (click)="selectFilter(1)" [class.active]="selectedFilter===1" class="accent-btn">F1</button>
      <button (click)="selectFilter(2)" [class.active]="selectedFilter===2" class="accent-btn">F2</button>
      <button (click)="selectFilter(3)" [class.active]="selectedFilter===3" class="accent-btn">F3</button>
    </div>

    <button class="accent-btn" (click)="createPost(currentUser)">
      Post
    </button>
  </div>
</div>
