<div id="wall-container">
    <button id="add-post-container" (click)="openModal()">&#x2b;</button>
    <div *ngIf="posts" id="wall">
      <div *ngFor="let p of posts">
        <div class="card">
          <div class="post-header">
            <span>{{ p.creator.name + ' ' + p.creator.lastname }}</span>
          </div>
          <div class="post-content">
            {{ p.content }}
          </div>
        </div>
        <div class="card comments">
          <div class="post-header">
            <span>Comments</span>
          </div>
          <div class="comment-container">
            <div *ngFor="let c of p.comments">
              <div class="post-header">
                <span>{{ c.user.name + ' ' + c.user.lastname }}</span>
              </div>
              <div class="post-content">
                <span>{{ c.comment }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!currentUser">
      Loading...
    </div>
  </div>