<div *ngIf="!!currentUser" id="friends">
  <h3>Friends</h3>
  <div class="buttons" [style.display]="myProfile ? 'grid' : 'block'">
    <button *ngIf="myProfile" class="accent-btn" (click)="seeAllFriends(currentUser)">
      All Friends
    </button>
    <button *ngIf="myProfile" class="accent-btn" (click)="seeSentRequests()">Sent requests</button>
    <button *ngIf="myProfile" class="accent-btn" (click)="seeReceivedRequests()">
      Received Requests
    </button>
    <button *ngIf="!myProfile" class="accent-btn" (click)="seeAllFriends(currentUser)">
      Friends of {{ currentUser.name + ' ' + currentUser.lastname }}
    </button>
  </div>
  <div id="friends-container">
    <div *ngFor="let f of showingFriends" class="friend-item">
      {{ f.accepted }} {{ f.name }} {{ f.lastname }}
      <button class="accent-btn">See Profile</button>
      <button class="accent-btn" *ngIf="!f.accepted" (click)="deleteRequest(f.id)">
        Cancel Request
      </button>
      <button class="accent-btn" *ngIf="f.accepted" (click)="deleteRequest(f.id)">
        Remove Friend
      </button>
      <button class="accent-btn" *ngIf="!f.accepted" (click)="acceptRequest(f.id)">
        Accept Request
      </button>
    </div>
  </div>

  <div *ngIf="showingFriends && showingFriends.length === 0" id="info-container">
    <span class="info" *ngIf="myProfile && currState === 0">Add some friends</span>
    <span class="info" *ngIf="myProfile && currState === 1">You haven't sent any requests</span>
    <span class="info" *ngIf="myProfile && currState === 2">You have no pendent requests</span>
    <span class="info" *ngIf="!myProfile && currState === 0">{{currentUser.name}} doesn't have friends</span>
  </div>
</div>
