#header {
  height: 50px;
  background-color: var(--accent);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

#header > * {
  display: inline-block;
}

#header > h1 {
  margin: 0;
  color: white;
  text-align: center;
}

#header > div {
  width: 50%;
}

#header > div > input {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
}

#content {
  height: calc(100% - 50px);
  background-color: white;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

#content.no-user {
  display: block;
  position: relative;
}

#content.no-user > #login-bg {
  background: url('/assets/social-net.jpg') no-repeat center;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  width: 100%;
  background-size: cover;
}

#content.no-user > .login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--accent);
  padding: 10px 20px 20px;
  box-shadow: 0 1px 10px -2px;
  display: grid;
}

#content.no-user > .login-box > button {
  background-color: white;
  color: var(--accent);
  border: 1px solid white;
  padding: 5px 10px;
  display: block;
}

#content.no-user > .login-box > button:hover {
  background-color: var(--accent);
  color: white;
}

#content.no-user > .login-box > h4 {
  margin: 10px;
  color: white;
}

.login-box.big {
  width: 40%;
}

#content.no-user > .login-box > .log-header {
  text-align: center;
  padding-bottom: 15px;
  color: white;
}

#content.no-user > .login-box > .log-header > button.back-btn {
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
}
#content.no-user > .login-box.big > textarea {
  height: 80px;
  padding: 5px;
}

#content.no-user > .login-box > input {
  border: 0;
  padding: 5px;
  outline: none;
  text-align: center;
}

#content.no-user > .login-box > button.action-btn {
  margin-top: 10px;
}

#content > div:first-child {
  background-color: var(--gray);
  text-align: center;
  position: relative;
}

#content > div:first-child > div {
  position: fixed;
  width: calc(20% - 38px);
}

#content > div:first-child > div > #profile > div {
  width: 80%;
  padding-top: 80%;
  background-color: white;
  margin: 20px auto;
  border-radius: 50%;
}

#content > div:first-child > div > #options > button {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
  color: var(--accent);
}

#content > div:first-child > div > #options > button:hover {
  background-color: var(--accent);
  color: white;
}

.found {
  border: 1px solid lightgray;
  padding: 10px;
  cursor: pointer;
}

.found:hover {
  background-color: lightgray;
}
